*.ipynb
*.pycache
*.pyc
*.npy
*.ftz
*.model
*.bin
*.pt
*.gen
*.env
*.pub

testing_it.py
CMakeSettings.json
main.hpp

**/.vscode/
**/__pycache__/
**/node_modules/

**/.vs/
**/CPP/out/
**/Simple-Web-Server/
**/hnswlib/

**/tests/