
services:
  web:
    image: node-backend
    restart: unless-stopped
    ports:
      - "3000:3000"
    command: --api --unhandled-rejections=strict
    env_file:
      - "NodeJS/docker_variables.env" 
  
  categorizer:
    image: python-backend
    restart: unless-stopped
    command: --categorizer
    env_file:
      - "Python/docker_variables.env" 
  
  lang-detector:
    image: python-backend
    restart: unless-stopped
    command: --langdetector
    env_file:
      - "Python/docker_variables.env" 

  chain-listener:
    image: node-backend
    restart: unless-stopped
    command: --chainlistener --unhandled-rejections=strict
    env_file:
      - "NodeJS/docker_variables.env" 

  nmslib-api:
    image: cpp-backend
    restart: unless-stopped
    #command: --nmslib
    ports:
      - "8585:8585"
    #env_file:
    #  - "Python/docker_variables.env" 

  acc-analyzer:
    image: node-backend
    restart: unless-stopped
    command: --analyzer --unhandled-rejections=strict
    env_file:
      - "NodeJS/docker_variables.env" 

  ac-bot:
    image: python-backend
    restart: unless-stopped
    command: --bot
    env_file:
      - "Python/docker_variables.env" 
