pymongo==3.11.2
beem==0.24.26
spacy==3
nmslib==2.1.1 # Remove later
ftfy==5.8
numpy==1.21.0
aiohttp==3.7.4
nltk==3.5
markdown==3.3.3
motor==2.3.1
bs4==0.0.1
hivesigner==0.1.3 # Remove later
torch==1.9.0
torchvision
python-dotenv==0.15.0
streamlit==0.88.0
matplotlib